.git
.ipynb_checkpoints
.eunit
*~
.#*
*.log*
*.sasl
*.plt
*.app
*.beam
*.so
*.o
*.pid
*.yaml
*.dump
*/temp/
*/tmp/
coverage/
node_modules/
etc/
target/
config/
build/
*/build/
dist/
test/tmp/
test/media/
obj/
Debug/
Release/
/.project
